* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

@font-face {
      font-family: Tahoma;
      src: url(../fonts/Tahoma.ttf);
   }

body {
     font-family:'Tahoma', Arial, sans-serif;
     background: url(../img/background.png) no-repeat;
     background-size: cover;
     height: 100%;

}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nav {
     font-size: 14px;
     font-family: Tahoma, Arial, sans-serif;
     line-height: 14px;
     
}

ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #1b5387;
    
}

li {
     float: right;
}

li a {
     display: block;
     text-align: center;
     padding: 10px 17px;
     text-decoration: none;
     color: #60b5ed;
}

.active3 {
     border-left: 1px solid #fefefe;
}

.active3 a:before {
     content: "     ";
     background: url(../img/flag.png) no-repeat;
     padding-left: 30px;
}


.active1 a,
.active2 a,
.active3 a {
     font-weight: normal;
     color: white;
}

.active span {
      font-size: 24px;
}

.center {
	width: 560px;
	margin: 0 auto;
        background-color: rgba(0,0,0, 0.6);
        margin-top: 213px;
        margin-bottom: 202px;
        height: 613px;
}


h1 {
     font-size: 24px;
     font-family:Tahoma, Arial, sans-serif;
     color: white;
     line-height: 16px;
     text-align: center;
     padding-top: 21px;
     padding-bottom: 21px;
     margin-bottom: 30px;
     border-bottom: 2px solid white;
}

.center1 {
     margin: 0 auto;
     width: 560px;
}

.selected {
     position: relative;
     margin-top: 30px;
     margin-bottom: 30px;
}

.selected .name  {
     position: absolute;
     top: 6px;
     left: 130px;
     color: #999;
     font-size: 14px;
}


.foot {
     padding-top: 10px;
     font-size: 14px;
     line-height: 16px;
     color: #ccc;
     margin-left: 145px;
}

.text {
     font-size: 11px;
     line-height: 16px;
     color: #ccc;
     text-align: center;
     padding-right: 10px;
     
}

.facebook a {
       text-decoration: none;
       color: white;
}

.facebook_logo {
       float: left;
       display: inline-block;
       line-height: 14px;
       width: 37px;
       border-right: 1px solid #1d3c75;
}

.ones {
   margin-left: 15px;
   margin-top: 5px;
}


.two {
     padding-right: 25px;
}

.facebook .login{
       border-left: 1px solid #476299;
       padding-left: 31px;
}



.facebook .login span{
        font-weight: bold;
}


.facebook {
	border-top: 1px solid #778ab4;
	border-radius: 3px;
	background-image: -ms-linear-gradient(top, #3D5792 0%, #364063 100%);
	background-image: -moz-linear-gradient(top, #3D5792 0%, #364063 100%);
	background-image: -o-linear-gradient(top, #3D5792 0%, #364063 100%);
	background-image: -webkit-linear-gradient(top, #3D5792 0%, #364063 100%);
        width: 276px;
	height: 36px;
        line-height: 36px;
        margin-left: 142px;
}


.line {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 276px;
    margin-left: 143px;
    color: #999;
}

.line > span {
	display: inline-block;
        margin: 0 .1em;
}

.line > span:before,
.line > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    margin-top: .4em;
}

.line > span:before {
    margin-left: -102%;
}

.line > span:after {
    margin-left: 2%;
    margin-right: 120px;
}


input[type="text"]{
	display: block;
	width: 276px;
	height: 35px;
	padding-left: 18px;
	background: #000;
	border:none;
	margin: 0 auto 0 auto;
        margin-right: 140px;
}

input[type="text"]:focus{
	background: #1b5288;
	box-shadow: 0 0 6px  white;
	border-bottom: #689bcc;
        
}

input[type="password"]{
	display: block;
	width: 276px;
	height: 35px;
	padding-left: 18px;
	background: #000;
	border:none;
	margin: 0 auto 10px auto;
}

input[type="password"]:focus {
	background: #1b5288;
	box-shadow: 0 0 6px  white;
	border-bottom: #689bcc;
}

input[type="email"] {
	display: block;
	width: 276px;
	height: 35px;
	padding-left: 18px;
	background: #000;
	border:none;
	margin: 0 auto 10px auto;
}

input[type="email"]:focus {
	background: #1b5288;
	box-shadow: 0 0 6px  white;
	border-bottom: #689bcc;
}

.checkbox{
	width: 200px;
	margin: 0 auto;
	color: white;
	font-size: 12px;
}


.active22 {
      text-decoration: none;
      color: #60b5ed;
      display: inline-block;
      padding: 0 14px;
}
.nav .active22 a:hover {
      color: white;
      background: #4eabda;
}
.nav .active1 a:hover {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(255, 255, 255, 0.3) 100%);

     }

.nav .active1 a span:hover {
      text-decoration: underline;

}

.nav .active3 a:hover {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(255, 255, 255, 0.3) 100%);
}

input[type="submit"]{
      display: block;
      background-image: linear-gradient(top,  rgba(80,174,219,1) 0%, rgba(46,122,196,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(80,174,219,1) 0%,rgba(46,122,196,1) 100%);
      background: linear-gradient(to bottom,  rgba(80,174,219,1) 0%,rgba(46,122,196,1) 100%); 
      width: 149px;
      height: 32px;
      border: none;
      border-radius: 3px;
      margin: 20px auto;
      color: white;
      font-size: 14px;
      margin-left: 200px;
}





















